.hero-banner {
  background-image: url(./assets/images/artist_connect.png);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 60px;
  margin-left: 80px;
}

.hero-message {
  width: 100%;
}

h1 {
  font-size: 95px;
  letter-spacing: 0.3px;
  margin: 0;
  color: black
}

.hero-message span {
  font-size: 24px;
  line-height: 18px;
}

h2 {
  text-align: center;
  width: 100%;
  color: #6df1f9;
  font-weight: 100;
}

.main-content {
background-image: url(./assets/images/Group\1961.png);
background-position: 100%;
}